# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# Environment variables / secrets
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Django
# -------------------------
*.log
db.sqlite3
db.sqlite3-journal

# -------------------------
# Uploaded files
# -------------------------
media/

# -------------------------
# Testing / coverage
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db